* {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, Poppins;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(55, 121, 207, 0.8);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(55, 121, 207);
}
